@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /*--foreground: #171717;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --color: #0a0a0a;
  }
}
body {
  color: var(--color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card{
  padding: 16px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
